<!-- The amazing script for our current episode -->
<div>
  <img class="img-responsive logo-img" src='assets/stooges.jpg'>
  <p align='center'><strong>Reading, Routing, and Reduxing, Act 1</strong></p>
  <p>Scene opens with Moe, Larry, and Curly in the computer lab.  Moe looks at Larry and Curly, who seem to be doing everything but working.</p>
  <p>Moe: 'Hey you morons' [Larry, Curly look back, surprised] 'Yeah, you.  Listen up.  We gotta get this demo finished by this afternoon!'</p>
  <p>Larry: 'But, Moe, we don't know anything about programming!'</p>
  <p>Moe: [slaps Larry] You knuckleheads don't know anything about anything, but that never stopped us before.  [Looks over at Curly, who is engrossed in computer, then walks up behind him] Working, hard, huh?</p>
  <p>Curly: 'Yeah, I was just' [turns around to see Moe, then lowers the top of his Mac Book Pro] 'Nyahhhhhhh'</p>
  <p>Moe: 'wasting time on Facebook again!' [grabs computer] Here!  I'll give you a book in the face [smashes Mac into Curly's nose]<p>
  <p>Curly: 'Owwwww .... oh .... look' [Both see computer is caved in]</p>
  <p>Moe: 'Look what you did, lunkhead!  Now, we'll have to do pair programming!'  [Slaps both Larry and Curly] 'C'mon ... get that service finished!  We need to be able to read data, setup routes, lazy load, and implement a Redux-style model'</p>
  <p>Larry: 'But what's Redux?'<p>
  <p>Moe: [Eye pokes to both Larry and Curly] It's when I bring back the double eye-poke.  Now, get back to work!!</p>
</div>
